body {
    margin: 0;
    padding: 0;
}

/* Estilos para el HEADER */
.header-principal {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.901) 80%), url("../img/fondo1.avif");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 40px 20px;
    padding-bottom: 0px;
    height: 20vh; /* Más compacto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-principal h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Menú de navegación */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.navbar ul li a{
    color: rgb(206, 206, 206);
}
.navbar ul li a:hover{
    color: white;
}
.navbar-toggler{
    border: 1px solid white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/*Noticias*/
/* main{
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
section {
    padding: 40px 140px; /* Ajusta según el diseño */
}
/* Noticia */
.noticia {
    margin-bottom: 20px;
    padding: 0; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
/* Imagen */
.noticia-img img {
    height: 250px; 
    object-fit: cover; 
}
/* Contenido */
.noticia-contenido .card-body {
    padding: 20px;
}

.noticia-contenido .fecha, .noticia-contenido .autor {
    color: gray;
    margin: 0;
    font-size: 0.9rem;
}
/* Boton Leer más */
.noticia-contenido a {
    color: rgb(130, 192, 117);
    display: inline-block;
    padding: 10px 0; /* Espaciado vertical */
}


/*Para la pagina de noticia completa*/
/* .noticia_completa{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
} */
.noticia_completa img{
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.noticia_completa h2{
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}
.noticia_completa p{
    margin: 20px 0;
    line-height: 1.5;
    /* color: rgb(255, 255, 255); */
    text-align: justify;
}
.noticia_completa .referencia_autor{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.referencia_autor p{
    margin-top: 5px;
}


/*FORMULARIO*/
form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
input[type="text"]:focus,
input[type="file"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #129a24 ;
    outline: none;
}

.error {
    display: none;
    color: rgb(224, 51, 51);
    font-size: 14px;
    margin-top: 5px;
}

.error::before {
    content: "⚠️ ";
}

/* Responsividad */
@media (max-width: 600px) {
    form h2 {
        font-size: 18px;
    }
}


/*FOOTER*/

footer {
    background-color: #212529; /* Color oscuro */
    color: #f8f9fa; /* Texto claro */
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

footer a {
    transition: color 0.3s;
}

footer a:hover {
    color: #17a2b8; /* Cambia a un color llamativo al pasar el mouse */
}

footer .bi {
    font-size: 1.5rem; /* Íconos grandes */
    vertical-align: middle;
}